div.buyDiv {}
h1.ownedStocks{
    text-align: center;
}
div.ownedContainer {
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 50vh;
    overflow: scroll;
}
div.boughtDisplay{

   
    margin: .75em;
    width: 30vw;
    height: 32vh;
    border: 4px solid rgb(64, 197, 190);
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}
div.boughtDisplay h1 {
    font-size: 1.5em;
    text-align: center;
    color: white;
    margin: 0;
    padding:.4em;
    background-color: rgb(64, 197, 190);
}
div.boughtDisplay div.boughtTable {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}
div.boughtTable div {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    
    
   
}
div.boughtTable h3 {
    border-bottom: 2px solid rgb(64, 197, 190);
    font-size: 1em;
}
div.boughtTable p {
    font-weight: bold;
    font-size: large;
}
button.sellButton {
    width: 20vw;
    padding: .25em;
    display: block;
    margin-inline:auto;
    border:none;
    border-radius: .25em;
    background-color: rgb(64, 197, 190);
    color:white;
}
button.sellButton:hover {
    box-shadow: 3px 3px rgb(43, 144, 139);
}

 
