div.buyDiv {}
h1.ownedStocks{
    text-align: center;
}
div.ownedContainer {
    border: 3px solid rgb(64, 197, 190);
    border-radius: .5em;
    margin: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 50vh;
    overflow: scroll;
}
div.boughtDisplay{
    margin: .5em;
    width: 30vw;
    height: 35vh;
    border: 4px solid rgb(64, 197, 190);
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}
div.boughtDisplay h1 {
    word-wrap:unset;
    height: 2.3em;
    font-size: 1.25em;
    text-align: center;
    color: white;
    margin: 0;
    background-color: rgb(64, 197, 190);
}
div.boughtDisplay div.boughtTable {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}
div.boughtTable div {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    
    
   
}
div.boughtTable h3 {
    border-bottom: 2px solid rgb(64, 197, 190);
    font-size: 1em;
}
div.boughtTable p {
    font-weight: bold;
    font-size: large;
}
label.sellLabel {
    display: block;
    margin-top: -1em;
    text-align: center;
    font-size: small;
}
input.sellAmount{
    display: block;
    margin-inline: auto;
    margin-bottom: .5em
}
button.sellButton {
    width: 20vw;
    padding: .25em;
    display: block;
    margin-inline:auto;
    border:none;
    border-radius: .25em;
    background-color: rgb(64, 197, 190);
    color:white;
}
button.sellButton:hover {
    box-shadow: 3px 3px rgb(43, 144, 139);
}

 
